.active {
  color: #F35444;
}

.default-border{
  border: 2px solid #F35444;
  padding: 10px 50px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.263);
  backdrop-filter: blur(5px);
}

.packages-border{
  border: 2px solid #F35444;
  padding: 10px 50px;
  border-radius: 30px;
}

.go-border{
  border: 2px solid #F35444;
  border-radius: 4rem;
}

.default-border:hover, .packages-border:hover, .go-border:hover{
  color: white;
  background-color: #F35444;
  transition: .2s ease-in-out;
  transform: translateX();
}

.statistics-text-shadow{
  text-shadow: 1px 1px 20px rgba(0,0,0,0.07);
}

/* Team Picture */
.martins-team-picture{
  background-image: url(./assets/Martin.JPEG);
  background-size: cover;
  background-position: center;
}

.abiodun-team-picture{
  background-image: url(./assets/abiodun.jpeg);
  background-size: cover;
  background-position: center;
}

.denyefa-team-picture{
  background-image: url(./assets/nathan.jpg);
  background-size: cover;
  background-position: center;
}

/* NewsLetter */
.newsletterBgr{
  background-image: url(./assets//bgr.jpeg);
  background-size: cover;
  background-position: center;
}

.footer-small-circle::before{
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #F35444;
}